<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>acc</title>
    <link rel="stylesheet" href="style2.css" />
</head>
<body>
    <div class="login-container">
            <h1>Salad's Engine</h1>
        
            <div>
                <img src="sall1.png" alt="background"class="bg">
            </div> 
        <div class="login-box">
            <form action="/login" method="POST">
                <div class="input-group">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="Masukkan Username">
                </div>

                <div class="input-group">
                    <label>Password</label>
                    <div class="password-wrapper">
                        <input type="password" name="password" placeholder="Masukkan Password">
                        <span class="toggle-password"></span>
                    </div>
                </div>

                <button type="submit" class="login-btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>